/data export-ignore
/backend/target export-ignore
/android/.gradle export-ignore
/android/app/build export-ignore
/android/app/src/main/assets/www export-ignore
*.db export-ignore
*.db-wal export-ignore
*.db-shm export-ignore
*.db-journal export-ignore
*.sqlite export-ignore
*.sqlite3 export-ignore
*.apk export-ignore
**/*.apk export-ignore
*.aab export-ignore
**/*.aab export-ignore
*.jks export-ignore
**/*.jks export-ignore
*.keystore export-ignore
**/*.keystore export-ignore
*.p12 export-ignore
*.pfx export-ignore
*.key export-ignore
/android/local.properties export-ignore
